WCFClientWebApplication/Connected Services/CustomerService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55640/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55640/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:55640/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55640/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntities.Customer" />
      <xsd:import schemaLocation="http://localhost:55640/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SaveCustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerData" />
  </wsdl:message>
  <wsdl:message name="IService_SaveCustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveCustomerData_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q1:ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerData" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomerData_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q2:ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="IService_DeletCustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletCustomerData" />
  </wsdl:message>
  <wsdl:message name="IService_DeletCustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletCustomerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletCustomerData_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q3:ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerData" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerData_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q4:ServiceExceptions" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SaveCustomerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveCustomerData" message="tns:IService_SaveCustomerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveCustomerDataResponse" message="tns:IService_SaveCustomerData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/SaveCustomerDataServiceExceptionsFault" name="ServiceExceptionsFault" message="tns:IService_SaveCustomerData_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCustomerData" message="tns:IService_UpdateCustomerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateCustomerDataResponse" message="tns:IService_UpdateCustomerData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/UpdateCustomerDataServiceExceptionsFault" name="ServiceExceptionsFault" message="tns:IService_UpdateCustomerData_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletCustomerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletCustomerData" message="tns:IService_DeletCustomerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletCustomerDataResponse" message="tns:IService_DeletCustomerData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/DeletCustomerDataServiceExceptionsFault" name="ServiceExceptionsFault" message="tns:IService_DeletCustomerData_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomerData" message="tns:IService_GetCustomerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomerDataResponse" message="tns:IService_GetCustomerData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/GetCustomerDataServiceExceptionsFault" name="ServiceExceptionsFault" message="tns:IService_GetCustomerData_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveCustomerData">
      <soap:operation soapAction="http://tempuri.org/IService/SaveCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionsFault">
        <soap:fault use="literal" name="ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerData">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionsFault">
        <soap:fault use="literal" name="ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletCustomerData">
      <soap:operation soapAction="http://tempuri.org/IService/DeletCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionsFault">
        <soap:fault use="literal" name="ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerData">
      <soap:operation soapAction="http://tempuri.org/IService/GetCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionsFault">
        <soap:fault use="literal" name="ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55640/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>